@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customização da Scrollbar para Navegadores Chrome, Edge e Safari */
::-webkit-scrollbar {
  width: 6px;
  /* Barra bem fina */
}

::-webkit-scrollbar-track {
  background: #050505;
  /* Cor do fundo da appp */
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  /* Cor zinco escura (zinc-800) */
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
  /* Cor âmbar ao passar o mouse */
}

/* Suporte para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a #050505;
}